body{

    background-color: #000000;

}

input{

    height: 22px;
    width: 280px;
    padding: 8px;
    font-size: 1.2rem;
    margin: 15px 70px;
    border-radius: 5px;
    text-align: right;

}

input[type=number]:focus{

    outline: none;
    box-shadow: 0 0 10px #3B59EE;
    border: 1px solid #74D0FF

}

button{

    background-color: #007AFE;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;

}

button:hover{

    background-color: #0069D9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 (rgba(0, 0, 0, 0.19));
}

.container{

    width: 600px;
    background-color: #D3D3D3;
    display: fles;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 40px;
    border-radius: 4px;

}

.calc{

    width: 300px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    row-gap: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}